// Define variables for your color scheme

// For example:
$red: #c93d1b;
$blue: #315659;
$yellow: #feff89;
$orange: #ea5f2d;
$green: #4E9525;
$gray: #253031;
$light-gray: #FFFFE3;
$red-orange: #da552f;
